@model auto.Domain.Entities.Brand

<form method="post" asp-controller="Brand" asp-action="UpdateBrand" asp-route-id="@Model.Id">

    <br />
    <label asp-for="Name"></label>
    <br />
    <input asp-for="Name" type="text" class="form-control" name="Name" />
    <br />
    <label asp-for="Active"></label>
    <br />
    <input asp-for="Active" type="checkbox" name="Active" />
    <br />
    <input class="btn btn-primary" type="submit" value="Сохранить" />
</form>