<table class="table table-sm">
    <h3>Список моделей</h3>
    <tr><th></th><th></th></tr>
    @foreach (var item in @ViewBag.Models)
    {
        @if (item.Active)
        {
            <tr>
                <td>

                    <input type="submit" class="btn btn-light withheigh100 textLeft" value="@item.Name" />

                </td>
                <td class='alnright'>

                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>

                    <input type="submit" class="btn btn-light withheigh100 textLeft" value="@item.Name" style="color: gray" />

                </td>
                <td class='alnright'>

                </td>
            </tr>
        }

    }
</table>


<a asp-controller="Brand" asp-action="Index" class="inlineBlock btn btn-primary">Назад</a>

<form method="post" asp-controller="Model" asp-route-brandId="@ViewBag.BrandId" asp-action="AddModel">
    <button type="button" class="btn btn-primary btn-circle bottomRightRectangle" data-bs-toggle="modal" data-bs-target="#modalAddModel">+</button>
    <partial name="~/Views/Model/AddModel.cshtml" />
</form>